<%- include('../partials/header.ejs') %>

<%- include('../partials/navbar.ejs') %>

    <div class="container">
    <h2 class="mt-3">Register</h2>

    <% if (error) { %>
      <div class="alert alert-danger mt-4 col-md-6" role="alert">
        <%= error %>
      </div>
    <% } %>

    <form class="mt-4"  action="/register" method="post">
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" id="firstName" name="firstName" autocomplete="off">
              </div>
          <div class="form-group col-md-3">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" name="lastName" autocomplete="off">
          </div>          
        </div>
        <div class="form-row">
        <div class="form-group col-md-3">
          <label for="userName">Username</label>
          <input type="text" class="form-control" id="userName" name="userName" autocomplete="off">
        </div> 
        <div class="form-group col-md-3">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" autocomplete="off">
          </div>                
    </div>    
    <p>Already a user? <a href="/login">Login</a></p>    

        <button type="submit" class="btn btn-outline-secondary">REGISTER</button>
      </form>

    </div>


<%- include('../partials/footer.ejs') %>